In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (1.2.0)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from pandas) (2020.5)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.2.4; however, version 20.3.3 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.2.9_1/libexec/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('merged_clean_ver1.csv')

In [4]:
data.dtypes

Unnamed: 0                   int64
id                           int64
state                       object
gender                      object
median_home_val            float64
median_household_income      int64
ic2                        float64
ic3                          int64
ic4                        float64
ic5                        float64
avggift                    float64
target_d                   float64
dtype: object

#use describe method on float

In [5]:
data.describe(include=[np.float64])

,median_home_val,ic2,ic4,ic5,avggift,target_d
count,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000
mean,1158.437751,400.713248,444.732031,16456.413724,11.785117,15.665036
std,1033.485773,180.568500,175.004178,9455.318118,10.172672,12.703041
min,0.000000,0.000000,0.000000,0.000000,2.260870,1.000000
25%,548.000000,284.000000,325.000000,11136.000000,7.187500,10.000000
50%,803.000000,366.000000,410.000000,14356.000000,10.000000,14.000000
75%,1349.000000,478.000000,528.000000,18780.000000,14.428571,20.000000
max,5982.000000,1500.000000,1331.000000,174523.000000,450.000000,200.000000

In [6]:
#Activity 2
data.describe()

,Unnamed: 0,id,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
count,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000,3993.000000
mean,499.431255,98929.308039,1158.437751,351.622840,400.713248,399.876283,444.732031,16456.413724,11.785117,15.665036
std,288.332533,58179.839090,1033.485773,168.488445,180.568500,164.822741,175.004178,9455.318118,10.172672,12.703041
min,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.260870,1.000000
25%,250.000000,46153.000000,548.000000,239.000000,284.000000,287.000000,325.000000,11136.000000,7.187500,10.000000
50%,499.000000,101432.000000,803.000000,318.000000,366.000000,365.000000,410.000000,14356.000000,10.000000,14.000000
75%,749.000000,151653.000000,1349.000000,425.000000,478.000000,480.000000,528.000000,18780.000000,14.428571,20.000000
max,1001.000000,191779.000000,5982.000000,1500.000000,1500.000000,1311.000000,1331.000000,174523.000000,450.000000,200.000000

In [7]:
data.median()

Unnamed: 0                    499.0
id                         101432.0
median_home_val               803.0
median_household_income       318.0
ic2                           366.0
ic3                           365.0
ic4                           410.0
ic5                         14356.0
avggift                        10.0
target_d                       14.0
dtype: float64

In [8]:
#IQR
summary = data.describe().T
summary['iqr'] = summary['75%']-summary['25%']
summary['iqr']

Unnamed: 0                    499.000000
id                         105500.000000
median_home_val               801.000000
median_household_income       186.000000
ic2                           194.000000
ic3                           193.000000
ic4                           203.000000
ic5                          7644.000000
avggift                         7.241071
target_d                       10.000000
Name: iqr, dtype: float64